---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import AnimationObserver from "../components/AnimationObserver.astro";
---

<Layout title="Consorcio Ejecutor Huaya - Construcción Sostenible en Amazonas">
  <Header />
  <main>
    <Hero />
    <About />
    <Services />
    <Contact />
  </main>
  <Footer />
</Layout>
